<h2>Search for Recipes</h2>

<form action="/search" method="get">
  <div class="mb-3">
    <label for="name">Search for:</label>
    <input type="text" name="q" class="form-control">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary form-control">Search for Recipes</button>
  </div>
</form>

<% if @results %>
  <div>
    <h2>Results for "<%=params[:q]%>"</h2>
    <% @results.each do |result| %>
      <div>
        <h3><%=result[0]%></h3>
        <p><a href="/new?name=<%=result[0]%>&description=<%=result[1]%>">[&nbsp;add to cookbook&nbsp;]</a></p>
        <p><%=result[1]%></p>
      </div>
    <% end %>
  </div>
<% end %>